body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}
.btnPrime {
    padding: 5px 15px;
    background-color: rgb(231, 226, 226);
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 16px;
}

.headTit span{
    font-size: 25px;
    font-weight: bold;
}
.headTit {
    margin-top: 10px;
}

.btnBlue {
    padding: 5px 15px;
    background-color: rgb(107, 107, 200)
    color red;
    border-radius: 20px;
}

.btnWrapper {
    margin-top: 10px;
}

.text {
    margin-top: 10px;
}