body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgb(106, 3, 250) , rgb(248, 3, 166));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.kartica {
    height: 500px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.slika {
    width: 50%;
    height: 40%;
}
@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        gap: 0px;
    }
    .kartica {
        width: 90%;
        height: 300px;
        margin-top: 15px;
        margin-bottom: 0;
        flex-direction: row;
    }
  }