body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
    height: 1200px;
    display: flex;
    background-color: rgb(226, 226, 209);
}

.levidiv {
    height: 500px;
    width: 400px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 7px 7px 10px grey;
    position: fixed;
}

.slika {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: start;
    background-color: grey;
    background-image: url(unnamed.jpg);
}
.Faris {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: white;
}

.contact {
    width: 100%;
    height: 200px;
    display: flex;
}

.ikonice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50px;
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.desnidiv {
    height: 1100px;
    width: 900px;
    margin-left: 550px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 10px grey;
}

.aboutme {
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: 2px solid black;
}

.levaico {
    width: 70px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 34px;
    color: darkcyan;
}

.txtdesno {
    font-size: 30px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    font-weight: 700;
    color: gray;
}

.abouttxt {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Education {
    display: flex;
    flex-direction: column;
}

.iconice {
    margin-top: 1150px;
    position: absolute;
    margin-left: 48%;
    font-size: 25px;
    gap: 10px;
    display: flex;
}

.github {
    font-size: 25px;
    color: black;
}

.link {
    font-size: 25px;
    color: black;
}
.stack {
    font-size: 25px;
    color: black;
}

.github:hover{
    scale: 1.2;
    color: grey;
}

.link:hover{
    scale: 1.2;
    color: grey;
}

.stack:hover{
    scale: 1.2;
    color: grey;
}

.educationtxt {
    font-size: 27px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 25px;
}

.gim {
    font-size: 22px;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 40px;
}
.hs {
    font-size: 25px;
    font-weight: 700; 
    margin-left: 30px;
    margin-top: 20px;
}

.foreign {
    font-size: 25px;
    font-weight: 700; 
    margin-left: 32px;
    margin-top: 20px;
}

.eng {
    font-size: 22px;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 40px;
}

.ger {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 40px;
}

.year {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 40px;
}

.abbi {
    font-size: 27px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 25px;
    border-top: 1px solid black;
}



.cc {
    font-size: 25px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 20px;
}
.cn {
    font-size: 22px;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 40px;
}
.hc {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 40px;
}

.sce {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 40px;
}

.passionstxt {
    font-size: 27px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 25px;
    border-top: 1px solid black;
}

.Beyond {
    font-size: 20px;
    font-weight: 500;
    padding-right: 15px;
    margin-left: 40px;
    margin-top: 15px;
}

.Vision {
    font-size: 27px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 25px;
    border-top: 1px solid black;
}

.future {
    font-size: 20px;
    font-weight: 500;
    padding-right: 15px;
    margin-left: 40px;
    margin-top: 15px;
}
